body {
	margin: 0;
	font-family: 'Chivo', sans-serif;
}

.container-new {
	display: flex;
	min-height: 103vh;
	color: #fff;
}


/* Sidebar */

.sidebar {
	width: 35%;
	padding: 20px;
	padding-right:20px;
	background-color: #242424;
	font-size: 0.9em;
}

.subtitle {
	font-weight: 300;
	font-style: italic;
	font-size: 1.4em;
}

a {
	color: #F9E721;
	text-decoration: none;
}

.emphasis {
	font-weight: 700;
	font-size: 1.3em;
	margin-top: 1em;
	margin-bottom: 1.5em;
}

/* Map */

#map {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 65%;
	height: 65%;
}

/* Table Section */
.table-title {
	font-weight: 700;
	font-size: 1.3em;
	margin-top: 0.5em;
	margin-left: 1em;
	margin-bottom: 0.5em;
}
.table-bottom {
	background-color: #242424;
	font-size: 0.9em;
	color: #FFFFFF;
	position: absolute;
	right: 0;
	/* top: 0; */
	bottom: 0;
	width: 65%;
	height: 35%;
}

/* Legend */

.map-overlay {
	position: absolute;
	right: 4%;
	top: 3%;
	padding: 10px;
	background-color: rgba(55, 55, 55, 0.6);
	width: 15%;
	color: #fff;
}

.legend-key {
	display: inline-block;
	border-radius: 20%;
	width: 10px;
	height: 10px;
	margin-right: 5px;
	color: #fff;
  }

#legend p {
	font-weight: 400;
	font-size: 1.2em;
	font-style: bold;
	color: #FFFFF1;
}

#legend {
	position: absolute;
	left: 85%;
	top: 5%;
	right: 5%;
	font-weight: 300;
	font-size: 0.85em;
	line-height: 1.4;
}

/* Pop-up */
.tooltip-2 {
	color:#FFFFFF;
	font-weight: 300;
	font-style: bold;
	font-size: 0.98em;
}

.tooltip-header-2 {
	background-color: #242424;
	color: #fff;
	font-weight: bold;
	font-style: italic;
	font-size: 14px;
	margin-top: 0;
	margin-bottom: 0;
}

.mapboxgl-popup-content{
    color: #F3F3DD;
    background-color: #26262690;
    border-color: #91785D;
    max-width: 250px;
    box-shadow: 3px 3px 2px #00000F;
    font-family: 'Oswald';
}


.tableHeaderRow, .tableRow {
    background-color: #000000; /* This sets the background to black */
    color: #ffffff; /* This sets the font color to white */
}

.blackHeader {
    background-color: #000000; /* This sets the background to black */
    color: #ffffff; /* This sets the font color to white */
}

#piechart {
	float: left;
  }

.tableRow {
    cursor: pointer;
}

.tableRow:hover {
    background-color: #a49b9b; /* Replace with your desired hover color */
}

